<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>
<body>

    <!-- ALERTA FUERA DEL CONTAINER -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert-container">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        ({{ message }})
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <!-- CONTAINER PRINCIPAL -->
    <div class="container">
        <!-- FORMULARIO -->
        <div class="formcontainer">
            <h1>Bienvenidos a LavaExpress</h1>
            <form action="/acceso-login" method="POST">
                <div class="form-group">
                    <label for="username">Email</label>
                    <input type="email" id="username" name="username" placeholder="Nombre de usuario" required maxlength="50">

                    <small id="email-error" style="color:red; font-weight:bold; display:block; margin-top:5px;"></small>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Ingrese su password" required maxlength="50">

                    <small id="password-error" style="color:red; font-weight:bold; display:block; margin-top:5px;"></small>
                </div>
                <button type="submit">Login</button>
                <p class="signup-link">¿No tiene cuenta? <a href="{{url_for('register')}}">Registrarse</a></p> <!--Lo envias a la función llamada Register-->
            </form>
        </div>

        <!-- IMAGEN LATERAL -->
        <div class="login-image">
            <img src="{{url_for('static', filename='img/logoLavaExpress.png')}}" alt="Imagen Login">
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- No aceptar +50 caracteres en email-->
    <script>
    document.getElementById("username").addEventListener("input", function() {
        const msj = document.getElementById("email-error");

        if (this.value.length >= 50) {
            msj.textContent = "❌ El correo no puede exceder 50 caracteres.";
        } else {
            msj.textContent = "";
        }
    });
    </script>

    <!-- No aceptar +50 caracteres en password-->
    <script>
    document.getElementById("password").addEventListener("input", function() {
        const msj = document.getElementById("password-error");

        if (this.value.length >= 50) {
            msj.textContent = "❌ La contraseña no puede exceder 50 caracteres.";
        } else {
            msj.textContent = "";
        }
    });
    </script>
</body>
</html>
