<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra Materia Prima</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/administrador/compraMateriaPrima.css')}}">
</head>
<body>
    <div class="app">

        <!-- SIDEBAR -->
        <aside class="sidebar">
            <div class="logo-box">
                <h2>LavaSoft</h2>
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="{{ url_for('inicioAdmin') }}">Registrar Usuario</a></li>
                    <li><a href="{{ url_for('pedidos') }}">Pedidos</a></li>
                    <li><a href="{{ url_for('cambioEstadoPedido') }}">Cambiar Estado de Pedido</a></li>
                    <li><a href="{{ url_for('proveedores') }}">Proveedores</a></li>
                    <li><a href="{{ url_for('compraMateriaPrima') }}">Compra Materia Prima</a></li>
                    <li><a href="{{ url_for('catalogoProductos') }}">Catálogo Productos</a></li>
                    <li><a href="{{ url_for('categoriaPrendas') }}">Categoría de Prendas</a></li>
                    <li><a href="{{ url_for('catalogoPrendas') }}">Catálogo de Prendas</a></li>
                    <li><a href="{{ url_for('cargas') }}">Cargas</a></li>
                    <li><a href="{{ url_for('reportes') }}">Reportes</a></li>
                    <li><a href="{{ url_for('roles') }}">Rol</a></li>
                    <li><a href="{{ url_for('materiaPrima') }}">Materia Prima</a></li>
                    <li><a href="{{ url_for('estatus') }}">Estatus de Pedido</a></li>
                    <li><a href="{{ url_for('servicios') }}">Servicios</a></li>
                    <li><a href="{{ url_for('unidadesMedidas') }}">Unidades de Medida</a></li>
                    <li><a href="{{ url_for('loggout') }}">Cerrar Sesión</a></li>
                </ul>
            </nav>
        </aside>

        <!-- CONTENIDO PRINCIPAL -->
        <div class="main">

            <!-- ENCABEZADO -->
            <header class="topbar">
                <div class="header-center">
                    <img src="{{ url_for('static', filename='img/logoo.jpeg') }}" class="icon-logo">
                    <h1>LavaExpress</h1>
                </div>
                <div class="header-right">
                    <div class="search-bar display-only">Compra Materia Prima</div>
                </div>
            </header>

            <!-- CUERPO PRINCIPAL -->
            <main class="content">
            
                <!--ALERTAS-->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <!-- Contenedor para alertas JS -->
                <div id="js-alert-container"></div>


                <!-- BLOQUE COMPRA GENERAL -->
                <div class="block compra-general">
                    <h2>Compra General</h2>
                    <form action="{{url_for('compraMateriaPrima')}}" method="POST">
                        <div class="form-row">
                            <div class="field-group">
                                <label for="proveedor">Proveedor</label>
                                <select id="proveedor" name="proveedor" required>
                                    <option value="">-- Seleccione --</option>
                                    {% for proveedor in proveedores %}
                                        <option value="{{ proveedor.IDPROVEEDOR }}">{{ proveedor.NOMBREPROVEEDOR }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="field-group">
                                <label for="fecha">Fecha</label>
                                <input type="date" id="fecha" name="fecha" required>
                            </div>
                            <div class="field-group">
                                <label for="empleado">Empleado que lo realizó</label>
                                <input type="text" name="empleado" id="empleado" value="{{ empleado.NOMBRE}} {{ empleado.APATERNO}}" readonly>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- BLOQUE COMPRA DETALLE -->
                <div class="block compra-detalle">
                    <h2>Compra Detalle</h2>
                    <table class="table-compra">
                        <thead>
                            <tr>
                                <th>Nombre del Producto</th>
                                <th>Cantidad Comprada</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <!-- BOTONES EN FILA -->
                <div class="btn-row">
                    <button type="button" class="btn-save">Guardar Compra</button>
                    <button class="btn-back">Regresar</button>
                </div>
            </main>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/administrador/compraMateriaPrima.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
