<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Prendas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/administrador/catalogoPrendas.css')}}">
</head>
<body>
    <div class="app">

        <!-- SIDEBAR -->
        <aside class="sidebar">
            <div class="logo-box">
                <h2>LavaSoft</h2>
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="{{ url_for('inicioAdmin') }}">Registrar Usuario</a></li>
                    <li><a href="{{ url_for('pedidos') }}">Pedidos</a></li>
                    <li><a href="{{ url_for('cambioEstadoPedido') }}">Cambiar Estado de Pedido</a></li>
                    <li><a href="{{ url_for('proveedores') }}">Proveedores</a></li>
                    <li><a href="{{ url_for('compraMateriaPrima') }}">Compra Materia Prima</a></li>
                    <li><a href="{{ url_for('catalogoProductos') }}">Catálogo Productos</a></li>
                    <li><a href="{{ url_for('categoriaPrendas') }}">Categoría de Prendas</a></li>
                    <li><a href="{{ url_for('catalogoPrendas') }}">Catálogo de Prendas</a></li>
                    <li><a href="{{ url_for('cargas') }}">Cargas</a></li>
                    <li><a href="{{ url_for('reportes') }}">Reportes</a></li>
                    <li><a href="{{ url_for('roles') }}">Rol</a></li>
                    <li><a href="{{ url_for('materiaPrima') }}">Materia Prima</a></li>
                    <li><a href="{{ url_for('estatus') }}">Estatus de Pedido</a></li>
                    <li><a href="{{ url_for('servicios') }}">Servicios</a></li>
                    <li><a href="{{ url_for('unidadesMedidas') }}">Unidades de Medida</a></li>
                    <li><a href="{{ url_for('loggout') }}">Cerrar Sesión</a></li>
                </ul>
            </nav>
        </aside>

        <!-- CONTENIDO PRINCIPAL -->
        <div class="main">

            <!-- ENCABEZADO -->
            <header class="topbar">
                <div class="header-center">
                    <img src="{{ url_for('static', filename='img/logoo.jpeg') }}" class="icon-logo">
                    <h1>LavaExpress</h1>
                </div>
                <div class="header-right">
                    <div class="search-bar display-only">Catálogo de Prendas</div>
                </div>
            </header>

            <!-- CUERPO PRINCIPAL -->
            <main class="content">

                <!-- ALERTAS -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert"> 
                                {{message}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <!-- BLOQUE NUEVA PRENDA -->
                <div class="block compra-general">
                    <h2>Nueva Prenda</h2>
                    <form method="POST" action="{{url_for('catalogoPrendas')}}">
                        <div class="form-row">
                            <div class="field-group">
                                <label for="nombre-prenda">Nombre de la Prenda</label>
                                <input type="text" id="nombre-prenda" name="nombre" placeholder="Nombre de la prenda" required>
                            </div>
                            <div class="field-group">
                                <label for="categoria">Categoría</label>
                                <select id="categoria" name="categoria">
                                    <option value="">Selecciona</option>
                                    {% for categoria in categorias %}
                                        <option value="{{ categoria.IDCATEGORIA }}">{{ categoria.NOMBRE }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="field-group">
                                <label for="empleado">Empleado que lo realizó</label>
                                <input type="text" name="iduser" id="iduser" value="{{ empleado.NOMBRE}} {{empleado.APATERNO}}" readonly>
                            </div>
                        </div>

                        <!-- BOTÓN GUARDAR -->
                        <div class="btn-row">
                            <button type="submit" class="btn-save">Guardar Prenda</button>
                        </div>
                    </form>

                </div>

                <!-- BLOQUE CATÁLOGO DE PRENDAS -->
                <div class="block compra-detalle">
                    <h2>Catálogo de Prendas</h2>
                    <table class="table-compra">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Categoría</th>
                                <th>Precio x KG Categoría</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for prenda in prendas %}
                            <tr>
                                <td>{{ prenda.nombre }}</td>
                                <td>{{ prenda.categoria }}</td>
                                <td>${{ prenda.precio_categoria }}</td>
                                <td>
                                    <button class="btn-edit" onclick="window.location.href='/catalogoPrendas/editar_prenda/{{ prenda.IDCATALOGO }}'">✏️</button>
                                    <button class="action-btn delete" title="Eliminar" onclick="confirmarEliminar({{ prenda.IDCATALOGO }})"><i class="fas fa-trash"></i>🗑️</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- BOTÓN REGRESAR -->
                    <div class="btn-row">
                        <button class="btn-back">Regresar</button>
                    </div>
            </main>
        </div>
    </div>

    <!-- Modal Eliminar Prenda -->
    <div id="modalEliminar" class="modal">
        <div class="modal-content">
            <h3>🗑️Eliminar Prenda</h3>
            <p>¿Estás seguro de eliminar esta prenda?</p>
            <div class="buttons">
                <button id="btnEliminarConfirm" class="btn-confirm">Sí, eliminar</button>
                <button id="btnEliminarCancel" class="btn-cancel">Cancelar</button>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/administrador/catalogoPrendas.js') }}"></script>

</body>
</html>
