<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categoria de Prendas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/administrador/categoria/categoriaPrendas.css')}}">
</head>
<body>
    <!-- CONTENEDOR PRINCIPAL -->
    <div class="app">

        <!-- SIDEBAR -->
        <aside class="sidebar">
            <div class="logo-box">
                <h2>LavaSoft</h2>
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="{{ url_for('inicioAdmin') }}">Registrar Usuario</a></li>
                    <li><a href="{{ url_for('pedidos') }}">Pedidos</a></li>
                    <li><a href="{{ url_for('cambioEstadoPedido') }}">Cambiar Estado de Pedido</a></li>
                    <li><a href="{{ url_for('proveedores') }}">Proveedores</a></li>
                    <li><a href="{{ url_for('compraMateriaPrima') }}">Compra Materia Prima</a></li>
                    <li><a href="{{ url_for('catalogoProductos') }}">Catálogo Productos</a></li>
                    <li><a href="{{ url_for('categoriaPrendas') }}">Categoría de Prendas</a></li>
                    <li><a href="{{ url_for('catalogoPrendas') }}">Catálogo de Prendas</a></li>
                    <li><a href="{{ url_for('cargas') }}">Cargas</a></li>
                    <li><a href="{{ url_for('reportes') }}">Reportes</a></li>
                    <li><a href="{{ url_for('roles') }}">Rol</a></li>
                    <li><a href="{{ url_for('materiaPrima') }}">Materia Prima</a></li>
                    <li><a href="{{ url_for('estatus') }}">Estatus de Pedido</a></li>
                    <li><a href="{{ url_for('servicios') }}">Servicios</a></li>
                    <li><a href="{{ url_for('unidadesMedidas') }}">Unidades de Medida</a></li>
                    <li><a href="{{ url_for('loggout') }}">Cerrar Sesión</a></li>
                </ul>
            </nav>
        </aside>

        <!-- CONTENIDO PRINCIPAL -->
        <div class="main">

            <!-- ENCABEZADO -->
            <header class="topbar">
                <div class="header-center">
                    <img src="{{ url_for('static', filename='img/logoo.jpeg') }}" class="icon-logo">
                    <h1>LavaExpress</h1>
                </div>
                <div class="header-right">
                    <div class="search-bar display-only">Categoría de Prendas</div>
                </div>
            </header>

            <!-- CUERPO PRINCIPAL -->
            <main class="content">

                <!-- ALERTAS -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                {{message}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <!-- BLOQUE PRINCIPAL EN ROW -->
                <div class="materia-container">

                    <!-- MATERIA PRIMA EXISTENTE -->
                    <div class="existing">
                        <h2>Categorías existentes</h2>
                        <table>
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for categoria in categorias %}
                                <tr>
                                    <td>{{ categoria.NOMBRE }}</td>
                                    <td>
                                        <button class="btn-edit" onclick="window.location.href='{{ url_for('editar_categoria', idcategoria = categoria.IDCATEGORIA) }}'">✏️</button>
                                        <button class="btn-delete" onclick="abrirModalEliminar({{categoria.IDCATEGORIA}})">🗑️</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <!-- NUEVA CATEGORIA -->
                    <div class="new">
                        <h2>Nueva Categoría</h2>
                        <form class="new-form" action="{{ url_for ('categoriaPrendas')}}" method="POST">
                            <label for="nombre">Nombre:</label>
                            <input type="text" id="nombre" name="nombre" placeholder="Nombre de la nueva categoría">

                            <!-- KG máximo por carga -->
                            <label for="kgmaximo">KG máximo por carga:</label>
                            <input type="number" step="0.01" min="0" id="kgmaximo" name="kgmaximo" placeholder="KG máximo para 1 carga" required>

                            <!-- Precio por KG -->
                            <label for="preciokg">Precio por KG:</label>
                            <input type="number" step="0.01" min="0" id="preciokg" name="preciokg" placeholder="Precio por KG de la categoría" required>

                            <button type="submit" class="btn-save">Guardar</button>
                        </form>
                    </div>
                </div>

                <!-- BOTÓN REGRESAR CENTRADO DEBAJO -->
                <div class="back-container">
                    <button class="btn-back">Regresar</button>
                </div>
            </main>
        </div>
    </div>

    <!-- MODAL DE CONFIRMACIÓN DE ELIMINAR -->
    <div id="modalEliminar" class="modal">
        <div class="modal-content">
            <h3>🗑️Eliminar Categoria Prenda</h3>
            <p>¿Estás seguro de eliminar esta categoría prenda?</p>
            <button class="btn-confirm" id="btnConfirmarEliminar">Sí, eliminar</button>
            <button class="btn-cancel" onclick="cerrarModalEliminar()">Cancelar</button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/administrador/categoriaPrendas.js') }}"></script>
</body>
</html>
